.border-radius {
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 20px;
}

.bg-image {
    width: 100%;
    position: absolute;
}

.search {
    margin: 10px;
}

header {
    /* background-color: rgb(237, 26, 35); */
    background-color: rgb(0, 0, 0);
}

.char-image:hover {
    cursor: pointer;
}

/* .char-name {
    display: none;
}

.char-image:hover + .char-name { 
    display: block !important;
    opacity: 1;
    position: absolute;    
    left: 0; 
    bottom: 0;
    font-size: 14px;
    line-height: 22px;
    color: aliceblue;
    background-color: rgba(0,0,0,0.8);
} */